@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Slab:wght@400;700&family=Inconsolata:wght@400;700&family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;700&family=Lato:wght@400;700&family=Courier+Prime:wght@400;700&family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mejora de estilos para los menús desplegables en modo oscuro */
.dark select option {
    background-color: var(--bg-card, #1f2937);
    color: var(--text-default, #f9fafb);
}

/* --- NUEVO ---
  Estos estilos añaden un padding a tu aplicación para que el contenido no
  quede debajo de la barra de estado o la barra de gestos en iOS y Android.
*/
body {
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}


